.score-table-page-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.table {
    overflow-y: auto;
    max-height: 480px;
    overflow-x: hidden;
}